colombiaDTD.dtd

<!ELEMENT pais (nombre,poblacion,continente,nombreCapital,coordenadas,fotografias+)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT poblacion (#PCDATA)>
<!ELEMENT continente (#PCDATA)>
<!ELEMENT nombreCapital (#PCDATA)>
<!ELEMENT coordenadas (latitud,longitud)>
<!ELEMENT latitud (#PCDATA)>
<!ELEMENT longitud (#PCDATA)>
<!ELEMENT fotografias (nombre,descripcion,url)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT url (#PCDATA)>